# Dataset
[PUB] India_runs_data_and_ai_challenge/
[PUB] India_runs_data_and_ai_challenge.zip

# Safer wildcard
*India_runs_data_and_ai_challenge*
*.zip

# Local files
inside

# Python
__pycache__/
*.pyc

# Outputs
outputs/