# =========================
# Dataset Files
# =========================
candidates.jsonl

[PUB] India_runs_data_and_ai_challenge/
[PUB] India_runs_data_and_ai_challenge.zip

*India_runs_data_and_ai_challenge*
*.zip

# =========================
# Generated Outputs
# =========================
outputs/
result/

# =========================
# Local Files
# =========================
inside/

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS Files
# =========================
.DS_Store