# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Outputs
outputs/*
!outputs/.gitkeep

# Dataset
[PUB] India_runs_data_and_ai_challenge/
[PUB] India_runs_data_and_ai_challenge.zip

# Local files
inside

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# OS files
.DS_Store


#Dataset
[PUB] India_runs_data_and_ai_challenge/
[PUB] India_runs_data_and_ai_challenge.zip
inside